/* ---- here is our style file ---- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(83, 97, 124);
}

/* this is where the header starts */

header {
    background-color: rgb(31, 22, 70);
    padding: 50px 50px;
    color: white;
   
}

header h1 {
    margin-bottom: 20px;
}

.projects-list {
    padding: 30px 50px;
}