/* ---- here is our style file ---- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(83, 97, 124);
}

/* this is where the header starts */

header {
    background-color: rgb(31, 22, 70);
    padding: 50px 50px;
    color: white;
   
}

header h1 {
    margin-bottom: 20px;
}

.projects-list {
    padding: 30px 50px;
}

.project {
    border: 1px solid rgb(31, 22, 70);
    margin-bottom: 50px;
    padding: 40px 40px;
}

.project h2 {
    margin-bottom: 20px;
}

.project img {
    width: 100%;
    margin-bottom: 50px;
}

.project .project-description {
    font-weight: bold;
    color: rgb(31, 22, 70);
}

footer {

}